.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.header__r {
  margin-left: 1vw;
  min-width: 10vw;
}

.header__l {
  display: flex;
}

.MuiSvgIcon-root {
  font-size: 24px !important;
}
